<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Responsiva com Bootstrap</title>
  <!-- Adicionando Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if (userId) { %>
        <a class="btn btn-primary" href="/events/create" role="button">Criar evento</a>
        <% } %>

        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if (userId) { %> <!-- Verificar se o usuário está autenticado -->
          <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout <span class="sr-only">(current)</span></a>
          </li>
        <% } else { %> <!-- Se o usuário não estiver autenticado -->
          <li class="nav-item active">
            <a class="nav-link" href="/users/register">Registrar <span class="sr-only">(current)</span></a>
          </li>
        <% } %>

      </ul>
    </div>
</nav>
<main>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% events.forEach((event, index) => { %>
        <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <% if (index === 0) { %>class="active"<% } %>></li>
      <% }); %>
    </ol>
    <div class="carousel-inner">
      <% events.forEach((event, index) => { %>
        <div class="carousel-item <% if (index === 0) { %>active<% } %>">
          <img src="/uploads/<%= event.coverImage %>" class="d-block w-100" alt="...">
        </div>
      <% }); %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>
 
  <div class="container">
    <div class="row">
      <% events.forEach(event => { %>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <!-- Imagem de Capa do Evento -->
            <img src="uploads/<%= event.coverImage %>" class="card-img-top" alt="Imagem de Capa do Evento">
            <div class="card-body">
              <!-- Título do Evento -->
              <h5 class="card-title"><%= event.title %></h5>
              <!-- Tipo do Evento -->
              <p class="card-text"><strong>Tipo:</strong> <%= event.type %></p>
              <!-- Descrição do Evento -->
              <p class="card-text"><strong>Descrição:</strong> <%= event.description %></p>
              <!-- Data do Evento -->
              <p class="card-text"><strong>Data:</strong> <%= event.date.toDateString() %></p>
              <!-- Botão para mais detalhes -->
              <a href="/events/<%= event._id %>" class="btn btn-primary">Detalhes</a>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</main>
<footer class="footer bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-center">&copy; 2024 Seu Site. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>

<!-- Adicionando Bootstrap JS (opcional) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>